/* import Google Font - Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,200;1,500&display=swap");

$blue: #90b4ce;
$yellow: #fbdd74;
$green: #c3f0ca;
$pink: #eebbc3;
$violet: #a786df;
$rose: #d9d4e7;
$headline: #094067;
$button: #3da9fc;
$box: #fffffe;

/*
:root {
  --blue: #90b4ce;
  --yellow: #fbdd74;
  --green: #c3f0ca;
  --pink: #eebbc3;
  --violet: #a786df;
  --rose: #d9d4e7;
  --headline: #094067;
  --text: #5f6c7b;
  --button: #3da9fc;
  --box: #fffffe;
}
*/
$colors: (
  "blue": $blue,
  "yellow": $yellow,
  "green": $green,
  "pink": $pink,
  "violet": $violet,
  "rose": $rose,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  transition: all 900ms cubic-bezier(0, 0, 0.58, 1);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@each $color, $hex in $colors {
  .#{$color} {
    background-color: $hex;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
  }

  .button {
    color: $headline;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    opacity: 1;
    transition: all 900ms cubic-bezier(0, 0, 0.58, 1);
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }

  .button:hover {
    opacity: 0.7;
  }

  #tweet-quote i {
    width: 40px;
    padding: 10px 10px 10px 11px;
    font-size: 1.2em;
  }

  #new-quote {
    padding: 10px 15px;
    font-size: 0.9em;
    font-weight: 500;
  }
}

#quote-box {
  background-color: $box;
  width: 600px;
  padding: 15px 20px 20px 20px;
  border-radius: 5px;
}

.quote-content {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;

  h3 {
    color: $headline;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 500;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
}

#text {
  color: $headline;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0px 15px 10px 15px;
  text-align: left;

  i {
    font-size: 1.6em;
    margin-right: 5px;
  }
}

#author {
  color: $headline;
  text-align: right;
  margin-right: 15px;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 500;
}

@media (max-width: 576px) {
  .quote-content {
    font-size: 14px;
  }
}
